name: Update GitHub metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate profile metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: panditshivam
          template: classic
          base: header, activity, repositories, metadata
          config_timezone: Asia/Kolkata
          filename: metrics.svg
          output_action: commit
          committer_branch: main
          committer_message: "chore: update metrics"
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
          plugin_languages_recent_days: 365
          plugin_languages_recent_load: 500
